In [1]:
import pandas as pd

In [2]:
path = r"https://drive.google.com/uc?export=download&id=1xxDtrZKfuWQfl-6KA9XEd_eatitNPnkB"
df = pd.read_csv(path)

In [3]:
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
#split Data

In [5]:
x = df.drop('price',axis=1)
y = df['price']

print(x.shape)
print(y.shape)

(7120, 107)
(7120,)

In [6]:
#train_test_split

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=51)

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(5696, 107)
(1424, 107)
(5696,)
(1424,)

In [9]:
#feature Scaling

In [10]:
from sklearn.preprocessing import StandardScaler

In [21]:
sc = StandardScaler()
sc.fit(x_train)
x_train = sc.transform(x_train)
x_test = sc.transform(x_test)

In [12]:
#Polynomial Linear regression

In [13]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [14]:
poly_reg = PolynomialFeatures(degree=2)
poly_reg.fit(x_train)
x_train_poly = poly_reg.transform(x_train)
x_test_poly = poly_reg.transform(x_test)

In [15]:
x_train_poly.shape, x_test_poly.shape

((5696, 5886), (1424, 5886))

In [16]:
lr = LinearRegression()
lr.fit(x_train_poly,y_train)

LinearRegression()

In [17]:
lr.score(x_test_poly,y_test)

0.9982416645763975

In [18]:
lr.predict([x_test_poly[0,:]])

array([80.])

In [19]:
lr.predict(x_test_poly)

array([ 80.,  40., 120., ...,  32.,  63., 180.])

In [20]:
y_test

2435     80.00
3113     40.00
426     120.00
1124     79.00
1161     45.00
         ...
2078     28.34
6855     84.00
4381     32.00
3862     63.00
43      180.00
Name: price, Length: 1424, dtype: float64