In [1]:
import pandas as pd

In [3]:
path = r"https://drive.google.com/uc?export=download&id=1xxDtrZKfuWQfl-6KA9XEd_eatitNPnkB"
df = pd.read_csv(path)

In [4]:
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [5]:
#split data

In [7]:
x = df.drop('price',axis=1)
y = df['price']

In [8]:
#train_test_split

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=51)

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(5696, 107)
(1424, 107)
(5696,)
(1424,)

In [11]:
#model training

In [12]:
from sklearn.ensemble import RandomForestRegressor

In [15]:
rfr_mse = RandomForestRegressor(n_estimators=100,criterion='mse')
rfr_mse.fit(x_train,y_train)

RandomForestRegressor()

In [16]:
rfr_mse.score(x_test,y_test)

0.8918589615413355

In [17]:
rfr_mse_500 = RandomForestRegressor(n_estimators=500,criterion='mse')
rfr_mse_500.fit(x_train,y_train)

RandomForestRegressor(n_estimators=500)

In [18]:
rfr_mse_500.score(x_test,y_test)

0.8893231673916795

In [19]:
#predict data

In [20]:
rfr_mse.predict(x_test)

array([ 79.70545,  39.9798 , 119.69   , ...,  33.5633 ,  63.1724 ,
       177.72   ])

In [21]:
y_test

2435     80.00
3113     40.00
426     120.00
1124     79.00
1161     45.00
         ...
2078     28.34
6855     84.00
4381     32.00
3862     63.00
43      180.00
Name: price, Length: 1424, dtype: float64

In [23]:
rfr_mse.predict([x_test.iloc[-1,:]])

array([177.72])

In [24]:
y_test.iloc[-1]

180.0